body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  width: 13vmin;
  height: 13vmin;
  border: 0.2px solid rgb(119, 119, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.red {
  color: rgb(187, 55, 55);
}
