body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: rgb(230, 230, 230);
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.tile {
  width: 13vmin;
  height: 13vmin;
  border: 2px solid rgb(163, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
}

.tile:hover {
  background-color: rgb(230, 230, 230);
}

.red {
  color: rgb(187, 55, 55);
}

/* */
table,
thead,
tbody,
tfoot,
tr,
th,
td,
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a.comment-indicator:hover + comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}
a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}
comment {
  display: none;
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 95vmin;
}
/*  */
