body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: rgb(230, 230, 230);
}

.hidden {
  display: none !important;
}

.row {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}

.tile {
  width: 13vmin;
  height: 13vmin;
  border: 2px solid rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: rgb(22, 22, 22);
  color: rgb(247, 247, 247);
  cursor: pointer;
}

.tile:hover {
  /* background-color: rgb(230, 230, 230); */
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.red {
  color: rgb(247, 247, 247);
  background-color: rgb(187, 55, 55) !important;
}

/* */
table,
thead,
tbody,
tfoot,
tr,
th,
td,
p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a.comment-indicator:hover + comment {
  background: #ffd;
  position: absolute;
  display: block;
  border: 1px solid black;
  padding: 0.5em;
}
a.comment-indicator {
  background: red;
  display: inline-block;
  border: 1px solid black;
  width: 0.5em;
  height: 0.5em;
}
comment {
  display: none;
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 95vmin;
}
/*  */

.mode {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#gate-link,
#clock-link {
  color: rgb(44, 44, 44);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#gate-link:after,
#clock-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(44, 44, 44);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#gate-link:hover:after,
#clock-link:hover:after {
  width: 100%;
  left: 0;
}
